@import "tailwindcss";


:root {
  /* === BRAND === */
  --color-primary: 59 130 246;        /* blue-500 */
  --color-primary-hover: 37 99 235;   /* blue-600 */
  --color-primary-soft: 219 234 254;  /* blue-100 */

  /* === BACKGROUND === */
  --color-bg-main: 249 250 251;       /* gray-50 */
  --color-bg-secondary: 243 244 246;  /* gray-100 */
  --color-bg-card: 255 255 255;       /* white */

  /* === TEXT === */
  --color-text-main: 17 24 39;        /* gray-900 */
  --color-text-secondary: 107 114 128;/* gray-500 */
  --color-text-muted: 156 163 175;    /* gray-400 */
  --color-text-inverted: 255 255 255; /* white */

  /* === BORDER === */
  --color-border-default: 209 213 219;/* gray-300 */
  --color-border-focus: 59 130 246;   /* blue-500 */
  --color-border-muted: 229 231 235;  /* gray-200 */

  /* === INPUTS === */
  --color-input-bg: 255 255 255;
  --color-input-text: 17 24 39;
  --color-input-placeholder: 156 163 175;
  --color-input-ring: 59 130 246;

  /* === BUTTONS === */
  --color-btn-primary-bg: 59 130 246;
  --color-btn-primary-hover: 37 99 235;
  --color-btn-primary-text: 255 255 255;

  --color-btn-secondary-bg: 243 244 246;
  --color-btn-secondary-hover: 229 231 235;
  --color-btn-secondary-text: 17 24 39;
}

.recharts-surface {
  outline: none !important;
  user-select: none;
  pointer-events: auto;
}
.recharts-surface:focus {
  outline: none !important;
}